* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 150%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre {
	border-top: 3px solid #121621;
}

code {
	background: #f0f0f0;
	padding: 2px;
}

.hljs {
	font-size: .85em;
}

#demo {
	background: #7f7f7f;
	position: relative;
	width: 100%;
	height: 62%;
}

#demo > * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#string {
	text-align: center;
	color: #f7f7f7;
	background: rgba(0, 0, 0, 0);
	border: 0;
	outline: 0;
	font-size: 30pt;
	line-height: 40pt;
}

#string::-ms-clear {
	display: none;
}

#tagline {
	color: white;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1.8em;
	text-align: center;
	padding: 20px;
	font-weight: 200;
	box-shadow: 0 0 50px #000;
}

#docs {
	z-index: 10;
	background: #fff;
	padding: 30pt 15pt;
	width: 100%;
	border-top: 2px solid #121621;
}

#fork {
	position: fixed;
	top: 0;
	right: 0;
	border: 0;
}

/*#docs > :first-child {
	margin-top: 0;
}

#docs > :last-child {
	margin-bottom: 0;
}*/

#docs > * {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}
