body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	background: #7f7f7f;
}

.js-geopattern,
#string {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

input {
	text-align: center;
	color: #f7f7f7;
	background: rgba(0, 0, 0, 0);
	border: 0;
	outline: 0;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
	font-size: 30pt;
}

input::-ms-clear {
	display: none;
}

#save {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 18px;
	line-height: 36px;
	font-weight: 200;
	background: rgba(255, 255, 255, 0.1);
}

#save:hover {
	background: rgba(255, 255, 255, 0.75);
	color: black;
}
