body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 18pt;
}

.js-geopattern,
#string {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
/* to prevent the flicker in between changing images */
.js-geopattern{
	-webkit-transition: background-image 0.2s ease-in-out;
	-moz-transition: background-image 0.2s ease-in-out;
	-ms-transition: background-image 0.2s ease-in-out;
	-o-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}
input {
	text-align: center;
	color: rgba(230, 230, 230, 0.8);
	background: rgba(0, 0, 0, 0);
	border: 0;
	outline: 0;
	font-size: inherit;
}
